{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 68, "knowledge_revision": 204, "git_revision": "", "hash": "c80cb75f9a6ecb31adc91c29d05e5ab4", "format-version": 4, "code-base-name": "default", "filename": "recipehub_frontend/ios/Runner/Info.plist", "revision_history": [{"204": ""}]}