{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": ["Flutter", "xcconfig", "configuration", "generated", "build", "Flutter-Generated.xcconfig"], "state": 2, "file_id": 104, "knowledge_revision": 244, "git_revision": "", "hash": "39b726029e69e3392eaefdfdb7bf2d07", "format-version": 4, "code-base-name": "default", "filename": "recipehub_frontend/macos/Flutter/ephemeral/Flutter-Generated.xcconfig", "revision_history": [{"244": ""}]}