{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 58, "knowledge_revision": 194, "git_revision": "", "hash": "72978924495ee056ed3af597ebf9942a", "format-version": 4, "code-base-name": "default", "filename": "recipehub_frontend/ios/Flutter/Generated.xcconfig", "revision_history": [{"194": ""}]}